/********** Template CSS **********/
:root {
    --primary: #88B44E;
    --secondary: #FB9F38;
    --light: #F5F8F2;
    --dark: #252C30;
}

body{
    background-color: #165c211d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    color: white;
}


.fw-medium {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fw-black {
    font-weight: 900;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.carousel-item {
    opacity: .8;
    height: 400px; /* Adjust the height as needed */
}
.carousel-overlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.carousel-overlay h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow to improve readability */
}


.carousel-item.active {
    opacity: .9; /* Make the active item fully visible */
}


.btn-primary,
.btn-outline-primary:hover {
    color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
    color: var(--dark);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/


.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: white;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: small;
    text-transform: uppercase;
    outline: none;
    position: relative;
    animation: none;
    transition: transform 0.3s ease, color 0.5s ease;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #01201a;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
    transition: .5s;
}

@media (max-width: 991.98px) {

    .logo{
        margin-top: 7px;
        height: 75px; 
        width: 75px;
    }

    .navbar .navbar-brand {
        width: 126px;
        height: 100px;
    }

    
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }


    .navbar .navbar-nav {
        margin-top: -10px;
        border-top: 1px solid #EEEEEE;
        transition: .5s;
    }
}

@media (min-width: 992px) {

    .logo{
        height: 75px; 
        width: 75px;
    }

   .navbar{
    height: 65px;
   }

    .nav-link:hover{
        transform: translateY(-2px);
    }

    .hr-line{
        display: none;
    }
    
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
        
    }
}

/* Parallax Animation for Navbar Links */
@keyframes slideIn {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(5px);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-50px);
        opacity: 0;
    }
}

.navbar-collapse.show .nav-link {
    animation: slideIn 0.5s ease forwards;
}

.navbar-collapse.collapsing .nav-link {
    animation: slideOut 0.5s ease backwards;
}

/* Hamburger toggle Icon Animation */
.navbar-toggler {
    position: relative;
    width: 45px;
    height: 50px;
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0);
    outline: none;
}

.toggler-icon {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(45deg) translate(6px, 6px);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 0;
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(-45deg) translate(5px, -5px);
}

/*** Carousel ***/
@keyframes zoomOut {
    0% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(75%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    /* background: rgba(136, 180, 78, .3); */
    z-index: 1;
  }
  
  .carousel-item img{
    animation: zoomOut 1.5s ease;

    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center; 

  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 15%;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 2rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    border: none;
  }
  
  @media (max-width: 768px) {
  
    
    #header-carousel .carousel-item {
      position: relative;
      min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .carousel-text {
    animation: slideInFromBottom 0.5s ease;
    animation-delay: 0.2s; /* Adds a slight delay to create parallax effect */
  }
  
  .carousel-text-link {
    color: rgba(0, 0, 0, 0.769); /* Initial text color */
    border: 2px solid white; /* Ensure there's a border */
    background-color: white; /* Initial background color */
    transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition */
    animation: slideInFromBottom 0.5s ease;
    animation-delay: 0.3s;
  }
  
  .carousel-text-link:hover {
    color: white; /* Text color on hover */
    background-color: transparent; /* Background color on hover */
  }
  
  
  /* Carousel end */

/* product category start */

.prod-font{
    font-size: .8em;
    height: 20px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: black;
}

.prod-font .price{
    color: var(--dark); 
    font-size: .8em;
    font-weight: 200;
    padding-right: 20px;
    margin-top: 5px;
}
  
.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s ease;
    box-shadow: 0 4px 8px rgba(19, 18, 18, 0.162);
  }
  
  .card-img-top:hover {
    transform: scale(1.02);
  }
  
  /* CSS for fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s forwards;
  }
  
  /* CSS for fade-out animation */
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  .fade-out {
    animation: fadeOut 0.5s forwards;
  }
  
  /* CSS for text link */
  .text-link {
    color: white;
    border-radius: 10px;
    font-size: .65em;
    text-transform: uppercase;
    padding: 3px 5px;
    background-color: var(--primary);
    cursor: pointer;
  }
  
  .text-link:hover {
    text-decoration: none;
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--dark); 
    transition: .3s;
  }
  /* Product category end */

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}

/* Brief About Section */

.container-fluid{
    margin: 0; 
    padding: 0; 
    width: 100%; 
}

.brief-about {
    position: relative;
    width: 100%; /* Full width */
    height: 400px; /* Fixed height */
    overflow: hidden; /* Hide overflow */
  }
  
  .brief-about img {
    width: 100%; /* Full width */
    height: 100%; /* Full height of the container */
    object-fit: cover; /* Ensure the image covers the container */
    object-position: center; /* Center the image within the container */
  }

  .brief-about-section {
    position: absolute; /* Absolute positioning */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the box */
    width: 250px; /* Fixed width */
    background-color: white; /* White background */
    padding: 15px; /* Padding inside the box */
    box-shadow: 0 4px 8px rgba(230, 229, 229, 0.1); /* Optional shadow for better visibility */
    text-align: center; /* Center the text */
    z-index: 1;
  }
  
  .brief-about-section .header {
    margin-bottom: 10px;
    font-size: 13px; 
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;

  }
  
  .brief-about-section p {
    margin: 0; 
    font-weight: 100;
    font-size: 14px;
    color: #030303ab;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .brief-about-section .about-link {
    text-decoration: underline;
    color: #252525;
    font-size: 12px; 
    font-weight: 300;
  }

/* Brief Contact Section */

.brief-contact-section {
    padding: 15px; 
    width: 250px; /* Fixed width */
    height: 100%; 
    background-color: white; /* White background */
    box-shadow: 0 4px 8px rgba(19, 18, 18, 0.162);
    text-align: center; /* Center the text */
    z-index: 1;
  }
  
  .brief-contact-section .header {
    margin-bottom: 10px;
    font-size: 13px; 
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;

  }
  
  .brief-contact-section p {
    margin: 0; 
    font-weight: 100;
    font-size: 14px;
    color: #030303ab;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .brief-contact-section .about-link {
    text-decoration: underline;
    color: #252525;
    font-size: 12px; 
    font-weight: 300;
  }


/* Items in a Category */

/* Heading */
.heading {
  margin-top: 50px;
  font-size: 1em;
  height: 20px;
  letter-spacing: .2em;
  font-weight: 500;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.824);
}

/* Product Card */
.prod-card-img {
  height: 200px;
  width: 230px;
  border-radius: 5px;
  overflow: hidden;
}

.category-card {
  height: 300px;
  width: 250px;
  background-color: white;
}

/* Search Input */
.search-input {
  padding: 8px;
  width: 100%; /* Change width to 100% to make it responsive */
  max-width: 200px; /* Set maximum width */
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px; /* Add margin bottom */
}

/* Select Dropdown */
.select-dropdown {
  padding: 8px;
  width: 100%; /* Change width to 100% to make it responsive */
  max-width: 200px; /* Set maximum width */
  border: 1px solid #ddd;
  font-weight: 200;
  font-size: .95em;
  color: rgba(19, 18, 18, 0.776);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

/* Additional styling for select dropdown arrow */
.select-dropdown::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* SingleProduct */
@media (min-width: 768px) {
  .product-container {
    margin-left: 50px;
  }
}

.product-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Reduced gap */
  max-width: 1200px;
  width: 100%;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail {
  max-height: 60px;
  max-width: 60px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
  border-radius: 8px;
}

.thumbnail:hover {
  opacity: 1;
}

.product-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}

.product-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out; /* Added animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.thumbnails,
.product-image {
  margin-right: 5px;
}

.product-details {
  flex: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 1em;
  margin-bottom: 20px;
}

.add-to-cart-btn {
  background-color: #20948b;
  color: #fff;
  border: none;
  border-radius: 5px; 
  font-size: 0.8em; 
  padding: 5px 10px; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-to-cart-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .product-content {
    flex-direction: column;
    align-items: center;
  }

  .thumbnails {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 0;
  }

  .thumbnail {
    max-width: 60px;
    max-height: 60px;
  }

  .product-details {
    align-items: center;
    text-align: center;
  }
}

 /* Cart */
 .cart-container {
  padding: 20px;
  width: 100%;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #eaeaea;
}

.cart-table th {
  background-color: #f8f8f8;
}

.cart-table img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity input {
  width: 50px;
  text-align: center;
  margin: 0 5px;
}

.cart-item-remove {
  cursor: pointer;
  color: red;
  font-size: 1.2em;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 5px;
  background-color: #fafafa;
}

.checkout-form input, .checkout-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-form button {
  align-self: flex-end;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #20948b;
  color: #fff;
  cursor: pointer;
}

.text-end {
  text-align: end;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: red;
}


/* Pagination */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.page-number {
  display: inline-block;
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.page-number:hover {
  background-color: #f0f0f0;
}

.page-number.active {
  background-color: #007bff;
  color: #fff;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  /* Center cards on smaller screens */
  .single-category {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .cat-item-align{
    display: flex;
    justify-content: center;
  }
  .select-dropdown{
    height: 42px;
  }
  

.brief-about img {
    width: 100%;
    height: auto;
}

.brief-contact-section {
    text-align: center;
    width: 100%;
}
}

/* Cart Section */
.cart-container {
  max-width: 100vw;
  margin: auto;
}

.cart-content {
  background: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
}

.cart-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-image img {
  border-radius: 5px;
}

.cart-item-details h5 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.cart-summary {
  font-size: 1.2em;
  font-weight: bold;
}

.btn-primary {
  background-color: #20948B;
  border-color: #20948B;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary:hover {
  background-color: #176f63;
  border-color: #176f63;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}



/* About Us Section */

/*** Contact ***/
.contact .btn-square {
    width: 100px;
    height: 100px;
    border: 20px solid var(--light);
    background: var(--primary);
    border-radius: 50px;
}

/*** Footer ***/
.footer {
    color: #B0B9AE;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #000000;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: #B0B9AE;
}

.copyright {
    background: #252525;
}

.copyright a:hover {
    color: #FFFFFF !important;
}

/* Admin */

.admin-nav-link{
  margin-right: 35px;
    padding: 25px 0;
    color: var(--light);
    font-weight: 300;
    letter-spacing: 3px;
    font-size: small;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    position: relative;
    animation: none;
    transition: transform 0.3s ease, color 0.5s ease;
  
}
